html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%
}

.portfolio-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: calc(100% - 40px);
    overflow: scroll;
}

.navbar {
    width: 100%;
    background-color: #2a2b36;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: sticky;
    position: absolute;
}

.icons {
    display: flex;
    column-gap: 30px;
}

.home-icon, .about-icon, .projects-icon, .skills-icon, .contact-icon {
    font-size: 20px;
    color: white;
    transition: 0.5s ease-in-out;
}

.home-icon:hover {
    color: greenyellow;
    transform: scale(1.15,1.15);
    cursor: pointer;
}

.about-icon:hover {
    color: aquamarine;
    transform: scale(1.15,1.15);
    cursor: pointer;
}

.projects-icon:hover {
    color: lightcoral;
    transform: scale(1.15,1.15);
    cursor: pointer;
}

.skills-icon:hover {
    color: lightsalmon;
    transform: scale(1.15,1.15);
    cursor: pointer;
}

.contact-icon:hover {
    color: lightseagreen;
    transform: scale(1.15,1.15);
    cursor: pointer;
}

.content-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    align-items: center;
}

.content-container section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 40px;
    color: white;
    align-items: center;
}

.content-container section h1 {
    font-size: 18px;
    margin: 0;
}

.content-container section p {
    font-size: 12px;
    margin: 0 10px 0 10px;
}

.name {
    color: lightgreen;
}

.dumb-comment {
    font-size: 8px;
    color: lightpink;
}

.socials-intro i {
    color: white;
    margin: 5px;
}

.scroll-comment {
    font-size: 10px !important;
}

.fa-linkedin, .fa-github {
    border: 10px solid transparent;
    margin: -10px;
    transition: 0.5s ease-in-out;
}

.fa-linkedin:hover {
    color: #0072b1;
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover, .fa-github:hover {
    animation: social 0.5s ease-in;
    cursor: pointer;
}

@keyframes social {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-15px) rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.introduction {
    background-color: #364359;
}

.about {
    background-color: #44536e;
}

.projects {
    height: 400px !important;
    background-color: #576a8c;
}

.project-card {
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease-in-out;
}

.project-card:hover {
    transform: translate(-2px,-2px);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.project-img {
    width: 50px;
    height: 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.project-text, .right-arrow {
    align-self: center;
}

.project-heading, .project-technologies {
    display: block;
}

.project-technologies {
    font-size: 10px;
    color: grey;
}

.right-arrow {
    font-size: 18px;
    margin-right: 5px;
    border-left: 1px solid lightgrey;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-arrow i {
    margin-left: 5px;
}

.down-arrow {
    display: none;
    visibility: hidden;
}

.skills {
    background-color: #687fa8;
}

.skills-bar-container {
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.skills-bar {
    display: flex;
    width: 100%;
    align-items: center;
}

.skill-heading {
    width: 25%;
}

.skill-heading .html-css-js, .skill-heading .express-axios {
    font-size: 8px;
}

.progress-bar {
    height: 10px;
    width: 75%;
}

.bar-empty {
    background-color: lightgrey;
    height: 8px;
    border-radius: 10px;
}

.bar-full {
    height: 8px;
    border-radius: 10px;
    background-color: lightpink;
}

.html-css-js-bar {
    width: 80%;
}

.angular-bar {
    width: 60%;
}

.react-bar {
    width: 35%;
}

.express-axios-bar {
    width: 20%;
}

.mysql-bar {
    width: 25%;
}


.contact {
    height: 100px !important;
    background-color: #819fd4;
    row-gap: 10px !important;
}

.email-heading {
    color: #2a2b36;
}

/* Responsive Design For Bigger Screens */

/* Laptop screen and above changes styling */
@media screen and (min-width: 1024px) {

    .navbar {
        top: 0;
        width: 60px;
        height: 100%;
    }

    .icons {
        flex-direction: column;
        row-gap: 40px;
    }

    .home-icon, .about-icon, .projects-icon, .skills-icon, .contact-icon {
        font-size: 24px;
    }

    .portfolio-container {
        height: 100%;
        width: calc(100% - 60px);
        float: right;
    }

    .content-container section h1 {
        font-size: 24px;
    }

    .content-container section p {
        font-size: 18px;
    }

    .fa-linkedin, .fa-github {
        font-size: 24px;
    }

    .dumb-comment {
        font-size: 12px;
    }

    .scroll-comment {
        font-size: 12px !important;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        height: 200px;
    }

    .project-card {
        height: 100%;
        flex-direction: column;
    }

    .project-img-container {
        height: 50%;
    }

    .project-img {
        height: 100%;
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        object-fit: cover;
    }

    .project-heading {
        font-size: 18px;
    }

    .project-technologies {
        font-size: 12px;
    }

    .right-arrow {
       display: none;
       visibility: hidden;
    }

    .down-arrow {
        display: block;
        visibility: visible;
        font-size: 18px;
        border-top: 1px solid lightgrey;
        margin-bottom: 3px;
    }

    .skills-bar-container {
        margin-right: 40px;
    }

    .skill-heading .html-css-js, .skill-heading .express-axios {
        font-size: 12px;
    }

}